@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  line-height: calc(1ex / 0.42);
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body,
a {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}

button {
  padding: 0.75rem;
  width: 9rem;
  border-radius: 10rem;
  border-width: 1px;
  margin-bottom: 1rem;
  background-color:#2285F5;
  font-size: medium;
  font-weight: 700;
}

textarea {
  max-width: 50ch;
  resize: none;
  padding: 0.5rem;
  background-color:#F0EDE8;
  color: black;
  font-size: 1.25rem;
  border-radius: 5%;
}

input {
  color: black;
}

.bgnew {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right top, #051937, #0c152b, #0d1020, #0a0a15, #040405);
}

/* Navbar starts here */

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 0;
  border-bottom: 1px solid #747490;
  background-color:#6341DF;
  position: sticky;
  top: 0;
  min-height: 7vh;
  height: fit-content;
  font-size:1.1rem;
}

.menu-logos {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 100%;
  font-size:1.2rem;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 0.5rem;
  align-self: flex-end;
  height: 100%;
}

.menu-item {
  /* border-left: 1px solid#54F86C;
  border-right: 1px solid#54F86C; */
  padding: 0 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

.drop-down-menu {
  position: absolute;
  top: 7vh;
  flex-direction: column;
  display: none;
  width: 100%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  overflow: hidden;
}

.drop-down-menu-item {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down-menu-item > a {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;

  /* background-color: #2B157A; */
}

.drop-down-menu-item > a:hover {
  background-color: #272727;
}

.show {
  display: flex;
  background-color:#2B157A;
  z-index: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.logo {
  flex-grow: 1;
  text-align: center;
}

.logo img {
  height: 2rem;
  margin: 0;
  padding: 0;
}

#toggleBtn {
  display: none;
}

#crossBtn {
  display: none;
}

/* Navbar ends here */

/* Main starts here */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header-text,
.io-area,
.ad-space {
  display: flex;
  width: auto;
  max-width: 90%;
  align-self: center;
}

.input-area,
.button-area,
.output-area {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  width: auto;
  height: auto;
  padding: 1rem;
  align-self: center;
}

.io-area {
  padding: 2rem 1rem;
}

/* Main starts here */

/* footer starts here */

footer {
  display: flex;
  /* max-height: 9vh; */
  height: 4rem;
  min-height: fit-content;
  max-width: 98vw;
  width: 100%;
  border-top: 1px  solid #5657DE;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

footer > * {
  min-width: 9.5rem;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.creator-text {
  margin-right: auto;
  margin-left: auto;
}

.fa-twitter {
  color:#1DA1F2;
}

.fa-linkedin-in {
  color:#1DC5F2;
}

.fab {
  margin: 5px 10px;
}

/* index page main section */

.main,
.main-page-comp {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  margin: 0;
}

.main-text {
  max-width: 50ch;
  min-width: fit-content;
  text-align: center;
}

.main-illustration {
  padding: 3rem;
}

.main-illustration > img {
  min-height: fit-content;
  min-width: fit-content;
  height: 20rem;
  object-fit: fill;
}

.main-page-comp {
  justify-content: space-evenly;
}

#site-name {
  font-size: 3rem;
  font-weight: 800;
  color: #70F7A4;
}

#site-slogan {
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #3FA6E1;
}

#site-desc {
  font-size: 1.25rem;
  font-weight: 600;
}

/* Main ends here */

.color-box {
  display: none;
  align-self: flex-end;
  height: 240px;
  width: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5%;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icons-pack > * {
  margin-right: 1rem;
  margin-left: 1rem;
}
.translate-options{
  max-width: fit-content;
  margin: 0.5rem 0;
}
.translate-options > *{
  margin: 1rem 0;
}
select {
  max-width: 10rem;
  color: black;
}

@media screen and (max-width: 1024px) {
  .navbar {
    min-height: unset;

    /* padding: 0.8rem !important; */
  }

  .menu-logos {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 0.8rem !important;
  }

  .menu {
    display: none;
    height: unset;
    width: 100%;
    padding: 0;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    border: unset;
    padding: unset;
    padding: 0.5rem 0;
    min-height: 2rem;
  }

  .d-menu-item {
    padding-bottom: 0;
  }

  .dropdown-heading {
    padding: 0.5rem 0;
  }

  .drop-down-menu {
    position: relative;
    top: unset;
    width: 100%;
  }

  .drop-down-menu-item > a {
    padding: 0.5rem;
  }

  #toggleBtn {
    display: flex;
  }

  .io-area {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }

  #site-name {
    font-size: 2rem;
  }

  #site-slogan {
    font-size: 1.25rem;
  }

  #site-desc {
    font-size: 1rem;
  }

  .main-illustration {
    padding: 1rem;
    max-width: 97vw;
  }

  .main-illustration > img {
    max-width: 85vw;
    height: 20rem;
    object-fit: fill;
  }

  .color-box {
    height: 100px;
    width: 240px;
  }
}
